

.sidebarChat{
    display: flex;
    padding: 10px;
   cursor: pointer;
     /* overflow: scroll; */
     border-bottom: 1px solid rgb(219, 212, 203);
     
}

a{
    text-decoration: none !important;
    color: black;
}

.sidebarChat:hover{
    background-color: rgb(164, 175, 184);;
}

.sidebarChat__info{
     padding-left: 10px;
}